---
layout: archive
title: "Projects"
permalink: /projects/
author_profile: true
---
<!-- 
{% if site.talkmap_link == true %}

<p style="text-decoration:underline;"><a href="/talkmap.html">See a map of all the places I've given a talk!</a></p>

{% endif %}

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
-->

Here are a few ongoing projects and general areas of research interest:

<h2>Soay sheep</h2>

...

<h2>ELA lake trout</h2>

...

<h2>Measurement of natural selection</h2>

...

<h2>Data logging</h2>

...
