---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->


<h2>Quantitative skills</h2>

<ul>
  <li>BL1102: I am entrusted with introducing all our first-years to data handling and visualisation in R via two weeks of practicals.  This works surprisignly well, in large part because of the School's committment of a lot of demonstrator support to first year practicals.</li>
  <li>BL3320: Generalised models sessions to all Biology third year students</li>
  <li>BL5115: Introductory R and other parts of the quantiative skills delivered to all of our taught MSc students.</li>
</ul>  

<h2>Evolution</h2>

<ul>
  <li>BL3307: genetic basis of variation and evolution of continuous traits; </li>
  <li>BL4288 "Major Review Paper in Evoltuionary Biology" (Module Organiser): Basically a big exercise in writing feedback.  With support from class sessions and 1:1 meetings with staff, students prepare a review article including submission of an initial draft, responding to peer reviews, and re-submitting a final submission.  We've had our first student article [published](https://onlinelibrary.wiley.com/doi/full/10.1111/jeb.14112) - Congratulations Finn.</li>
</ul>  

<h2>Ecology</h2>

<ul>
  <li>New module for 2023/24 in Quantitative Ecology (Module Organiser): students tackle a range of topics in ecology through quantitative 'work packages' engaging deeply with classical theory and empiricla analyses of contemporary data.</li>
  <li>BL5103: structured population models</li>
</ul> 

<h2>Books</h2>
