---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

<!--
{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
-->


<h2>Quantitative skills</h2>

<ul>
  <li>I am entrusted with introducing all our first-years to data handling and visualisation in R via two weeks of practicals.  This works surprisignly well, in large part because of the School's committment of a lot of demonstrator support to first year practicals.</li>
  <li>Generalised models sessions to all Biology third year students in BL3320</li>
  <li>Introductory R and other parts of the quantiative skills delivered to all of our taught MSc students.</li>
</ul>  

<h2>Evolution</h2>

blah, blah, blah

<h2>Ecology</h2>

blah, blah, blah

<h2>Books</h2>
